.foster__col {
    height: 100%;
    margin: 20px 0;
    padding: 20px;
    display: block;
    float: left;
}

.foster__col-left {
    width: 30%;
    float: left;
}

.foster__col-right {
    width: 100%;
    float: right;
}

.foster__col__image {
    background-color: #000;
    width: 300px;
    height: 400px;
    padding: 20px;
    margin-right: 20px;
    background: url(../../../global_assets/SVG/placeholder.svg) no-repeat;
}

.foster__biography {
    margin: 40px 0;
    width: 80%;
    float: left;
    text-align: left;
    display: block;
}

.foster__col__button {
    display: block;
    text-align: center;
}
