.header__mail:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff5555;
    transform: translate3d(12px, -10px, 0);
    animation: pop .8s ease-in-out;
    display: none;
}

@keyframes pop {
    0% {
        transform: translate3d(0, 0, 0);
        width: 0px;
        height: 0px;
        border-radius: 50%;
    }

    50% {
        transform: translate3d(0, 0, 0);
        width: 80px;
        height: 80px;
        border-radius: 0;
    }

    100% {
        transform: translate3d(12px, -10px, 0);
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
}
