.container__staff {
    width: 100%;
    margin: 50px;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

}

.staff__profile {}

.staff__container {
    width: 300px;
    padding: 10px;
}

.staff__picture {
/*    background-color: #336196;*/
    height: 200px;
    border: none;
}

.staff__text {
    background-color: white;
    padding: 10px;
    height: 135px;
    margin: 0;
    padding-left: 20px;
}

.staff__name,
.staff__phoneNo {
    margin: 10px 0 10px 0;
}

.container__staff {
    padding: 10px;
    display: flex;
}
