.container__staff {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.staff__profile {}

.staff__container {
    width: 300px;
    padding: 5px;
}

.staff__picture {
    background-color: #336196;
    height: 200px;
}

.staff__text {
    background-color: white;
    padding: 10px;
    height: 130px;
    margin: 0;
    padding-left: 20px;
}

.staff__name,
.staff__phoneNo {
    margin: 10px 0 10px 0;
}

.container__staff {
    padding: 10px;
    display: flex;
}
