<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <h1>Add a New Cat</h1>
    
    <main>
      <form action="/api/new-cat" method="post">
        <input name="shelterName" type="text" maxlength="100" placeholder="Shelter name" required/>
        <input name="catName" type="text" maxlength="100" placeholder="Cat name"/>
        <input name="primaryColor" type="text" maxlength="100" placeholder="Color"/>
        <input name="weight" type="text" maxlength="100" placeholder="Weight"/>
        <input name="testedFIV" type="text" maxlength="100" placeholder="FIV Tested (+/-)"/>
        <input name="testedFLV" type="text" maxlength="100" placeholder="FLV Tested(+/-)"/>
        <input name="" type="text" maxlength="100" placeholder="Mr Kittens"/>
        
        
        <input type="submit" value="Add"/>
      </form>
      
      <section class="dreams">
        <ul id="dreams"></ul>
      </section>
    </main>
    
  </body>
</html>
