.contact__container {
    background-color: #d7d9ed;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact__form {
    width: 50%;
    height: 75vh;
    padding: 50px 50px;
    z-index: 100;
}

.contact__infobox {
    background-color: #3d3d3d;
    width: 50%;
    height: 100vh;
    padding: 50px 0 50px;
}

.contact__form input {
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}

.contact__form textarea {
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    z-index: 100;
}


/*
.contact-header {
    background-color: #d7d9ed;
    color: white;
    padding: 10px 150px;
}
*/

.contact__information {
    padding: 10px 50px;
}

.contact__information-smaller {
    padding: 6px 50px;
    font-size: 0.7em;
}


.contact__information img {
    margin-right: 20px;
}
