.contact__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact__infobox {
    background-color: #3d3d3d;
    width: 50%;
    height: 78vh;
    padding: 50px 0 50px;
    z-index: 50;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.contact__information {
    padding: 10px 50px;
}

.contact__information-smaller {
    padding: 5px 50px;
    font-size: 0.7em;
}

.contact__form {
    width: 50%;
    height: 75vh;
    padding: 50px 50px;
}

.contact__information img {
    margin-right: 20px;
}

.contact__form input[type="text"] {
    width: 90%;
    margin: auto;
}

.contact__form textarea {
    z-index: 100;
    margin-bottom: 40px;
}

.contact__textarea {
    width: 90%;
    resize: vertical;
    background-color: white;
    margin-top: 10px;
}

.contact__text {
    margin: 30px 0 10px 0;
}

.contact__submit {
    width: 150px;
    text-align: center;
    margin: 0 auto;
}
