.contact__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact__infobox {
    background-color: #3d3d3d;
    width: 50%;
    height: 100;
    padding: 50px 0 50px;
    z-index: 50;
}

.contact__information {
    padding: 10px 50px;
}

.contact__information-smaller {
    padding: 5px 50px;
    font-size: 0.7em;
}

.contact__form {
    width: 50%;
    height: 75vh;
    padding: 50px 50px;
}

.contact__information img {
    margin-right: 20px;
}

.contact__form input {
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}

.contact__form textarea {
    z-index: 100;
}

.contact__textarea {
    width: 90%;
   resize: vertical;
    background-color: white;
    margin-top: 10px;
}

.contact__submit {
   width: 200px;
    height: 35px;
    margin: 0 auto;
    display: block;
}