.define-text {
    color: white;
}

.text-bold {
    font-family: 'proxima_nova_altbold', sans-serif;
}

.text-regular {
    font-family: 'Proxima Nova', sans-serif;
}

.text-dark {
    color: #333 !important;
}

.text__size-jumbo {
    font-size: 10em;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.40);
}

.text__size-large {
    font-size: 5em;
}

.text__size-medium {
    font-size: 3em;
}

.text__size-regular {
    font-size: 2em;
}

.text__size-small {
    font-size: 1.6em;
}

.text__size-tiny {
    font-size: 1.2em;
}

.text__size-nano {
    font-size: 1em;
}

.text-light {
    font-color: #e5e5e5;
}
