.header {
    position: fixed;
    backface-visibility: hidden;
    transform: translate3d(0);
    width: 80px;
    height: 100vh;
    background: rgba(43, 174, 144, 100);
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
}

.header__elements {
    width: 100%;
    height: 80px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__elements img {
    width: 30%;
    margin: 0px;
}

.header__elements:hover {
    background-color: #23846e !important;
}

.header__elements:active {
    background-color: #103e34 !important;
}

.header__logo {
    width: 50px;
    height: 50px;
    margin: 20px 15px 0 15px;
    background: url('../../global_assets/SVG/logo.svg') no-repeat center;
    cursor: pointer;
}

.header__hr {
    width: 80%;
    height: 1px !important;
    background: white;
    border: 0;
    margin: 25px 10% 0px 10%;
}

.header__profile {
    padding: 8px;
}


.header__help {
    padding: 15px;
}

.header__logout {
    text-align: center;
    font-family: sans-serif;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    width: 80px;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    padding: 25px 0;
}

.header__logout:hover {
    background-color: #23846e !important;
}

.header__logout:active {
    background-color: #175a4b !important;
}

.header__active {
    background-color: #23846e;
}

a {
    text-align: center;
}
