.define-button {
    background-color: #2bae9d;
    color: white;
    border-radius: 6px;
    transition: transform .1s ease-in;
}

.define-button:hover {
    transform: scale3d(1.05, 1.05, 1);
    cursor: pointer;
    transition: transform .1s ease-out;
}

.button__size-medium {
    width: 150px;
    padding: 5px;
    height: 40px;
}

.button__size-large {
    width: 300px;
    height: 50px;
}

.addCat {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    padding: 20px 60px;
    border-radius: 5px;
}


input {
    margin-top: 30px;
    width: auto;
    overflow: hidden;
    padding: 15px;
    clear: both;
    bordeR: 0;
    background: #e6e6e6;
}

input:focus {
    outline: 0;
    background: #e1e1e1;
}

input[type="radio"] {
    margin-top: 30px;
    margin-left: 20px;
    color: #29ae9c;
}

input[type="submit"] {
    width: 100px;
}

select {
    border: none;
    background: #fff;
    font-size: 14px;
    height: 30px;
    width: 200px;
    padding: 6px 60px 6px 0;
    margin-top: 30px;
}


/*Textarea*/

textarea {
    height: 100px;
    width: 800px;
    padding: 20px;
    border: none;
    background: #e6e6e6;
}

.define-button {
    background-color: #2bae9d;
    border-radius: 6px;
    transition: transform .1s ease-in;
}

.define-button:hover {
    transform: scale3d(1.05, 1.05, 1);
    cursor: pointer;
    transition: transform .1s ease-out;
}

.button__size-medium {
    width: 150px;
    padding: 5px;
    height: 40px;
}
