.addCat {
    width: 1000px;
    height: auto;
    margin: 20px auto;
}

form {}

.containers__all {
    width: 100%;
    padding: 20px;
}

.container__top-half {
    display: inline-flex;
}

.container__top-half-left {
    /*    background: gray;*/
}

.container__top-half-right {
    /*    background: blue;*/
}

.container__bottom-half {
    /*    background: wheat;*/
    padding: 20px;
    margin-left: 20px;
}

.spayed {
    margin-top: 30px;
    padding-left: 8px;
    width: 800px;
    height: 70px;
    background: #eee;
}
