body {
    background-color: #f7f7f7;
}

.addCat {
    width: 1000px;
    height: auto;
    /*    background: Red;*/
    margin: 20px auto;
}

select {
    border: none;
    background: white;
    height: 20px;
    width: 200px;
}

input {
    margin-top: 30px;
}

select {
    margin-top: 20px;
}

form {
    border: none;
}

.containers__all {
    width: 100%;
    padding: 20px;
}

.container__top-half {
    display: flex;
}

.container__top-half-left {
    /*    background: gray;*/
}

.container__top-half-right {
    /*    background: blue;*/
}

.container__bottom-half {
    /*    background: wheat;*/
    padding: 20px;
    margin-left: 20px;
}

input[type="radio"] {
    display: inline-flex;
    margin-top: 30px;
    margin-left: 20px;
}


.containers__all > textarea {
    height: 100px;
    width: 800px;
    padding: 20px;
}
