body {
    background-color: #f7f7f7;
}

.addCat {
    width: 1000px;
    height: auto;
    background: Red;
    margin: 20px auto;
}

.shelterSelect select {
    width: 150px;
}

input {
    margin-top: 20px;
}

select {
    margin-top: 20px;
}

form {
    border: none;
}

.containers__all {
    width: 100%;
    padding: 20px;
}

.container__top-half {
    display: flex;
}

.container__top-half-left {
    background: gray;
}

.container__top-half-right {
    background: blue;
}

.container__bottom-half {
    background: wheat;
}

input[type="radio"] {
    display: inline-block;
}
