.container {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    width: 80vw;
    min-width: 1200px;
    height: 100vh;
}

/*Code for filter*/
.filter-bar {
    width: 100%;
    height: 40px;
    background: #333;
}

/*Code for Container*/
.container__title {
    background: #c1c4d9;
}

.container__title__heading {
    height: 200px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

/*Code for Cat List*/
.cat-list {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.cat-list__elements {
    widtH: 100%;
    height: 30px;
    background: #c2c4d6;
    cursor: pointer;
}

.cat-list__white {
    background: #d7d9ed !important;
    z-index: 2;
}
