.define-text {
    color: white;
    font-family: 'proxima_nova_altbold', sans-serif;
}

.text-dark {
    color: #333 !important;
}

.text__heading-jumbo {
    font-size: 10em;
    font-weight: 800;
    margin-top: 50px;
}
