.header {
    position: absolute;
    width: 80px;
    height: 100vh;
    background: #2bae90;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
}

.header__elements {
    margin: 50px 0 0 25px;
    width: 30px;
    height: 40px;
    cursor: pointer;
    background-color: red !important;
    padding: 5px;
    
}

.header__logo {
    width: 50px;
    height: 50px;
    margin: 20px 15px 0 15px;
    background: url('../assets/SVG/logo.svg') no-repeat center;
    cursor: pointer;
}

.header__hr {
    widtH: 80%;
    height: 1px !important;
    background: white;
    border: 0;
    margin: 20px 10% 50px 10%;
}

.header__profile {
    background: url('../assets/SVG/profile.svg') no-repeat center;
}

.header__volunteers {
    background: url('../assets/SVG/volunteers.svg') no-repeat center;
}

.header__foster {
    background: url('../assets/SVG/foster.svg') no-repeat center;
}

.header__cats {
    background: url('../assets/SVG/cat.svg') no-repeat center;
}

.header__settings {
    background: url('../assets/SVG/settings.svg') no-repeat center;
}


