/*margin 150*/

.header-margin-push {
    margin-left: 150px;
}

.contact-container {
    background-color: #c2c4d6;
    width: 90%;
    margin: 50px auto;
}

.contact-header {
    background-color: #d7d9ed;
    width: 100%;
    padding: 10px 20px;
    font-size: 3em;
}

.contact-information {
    padding: 10px 40px;
    font-size: 2em;
}

.contact-information-smaller {
    padding: 5px 60px;
    font-size: 1.5em;
}
