.define-text {
    color: white;
}

.text-bold {
    font-family: 'proxima_nova_altbold', sans-serif;
}

.text-dark {
    color: #333 !important;
}

.text__heading-jumbo {
    font-size: 10em;
    font-weight: 800;
}

.text__heading-regular {
    font-size: 5em;
    font-weight: 400;
}
